﻿@model WebShop.Models.user
@{
	ViewBag.Title = "Dangnhap";
	Layout = "~/Views/Layout/_Layout.cshtml";
}
<div class="limiter">
	<div class="container-login100" style="padding: 50px 20px;margin: 0px;">
		<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
			<span class="login100-form-title p-b-32" style="font-size:30px;">Đăng nhập trang Admin</span>
			<h1 style="
    padding-bottom: 30px;
    font-size: 16px;
    font-family: robotom;
    color: red;
">
				@ViewBag.ThongBao
			</h1>
			@using (Html.BeginForm())
			{
				<div class="form-group">

					<span class="txt1 p-b-11">Tên tài khoản</span>
					<div class="col-md-10" style="padding: 14px 0px;margin: 0px;max-width: 100%;">
						<input class="form-control text-box single-line" id="Username" name="Username" style="height: 50px;margin-top: 10px;" type="text" value="">
						<span id="loitk" style="color: #ff3e3e;"></span>
					</div>
					<span class="txt1 p-b-11">Mật khẩu</span>
					<div class="col-md-10" style="padding: 14px 0px; margin: 0px;max-width: 100%;">
						<input typeof="" class="form-control text-box single-line" id="Password" name="Password" style="height: 50px;margin-top: 10px;" type="password" value="">
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" style="margin-left: 108px;margin-top: 20px;">Đăng Nhập</button>

					</div>

				</div>
			}
		</div>
	</div>
</div>

