﻿@model IEnumerable<WebShop.Models.ctdh>
@using WebShop.Models;
@{
	ViewBag.Title = "ctdh";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Chi tiết đơn hàng</h2>


	<table class="table">
		<tr>
			<th>
				Thứ tự
			</th>
			<th>
				Tên sản phẩm
			</th>
			<th>
				Giá số lượng
			</th>
			<th>
				Số lượng
			</th>

			<th>
				Tổng tiền
			</th>
			<th></th>
		</tr>
		@{
			int i = 0;
		}

		@foreach (var item in Model)
		{
			i++;
			<tr>
				<td>
					@i
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.sanpham.ten_sp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.gia)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.so_luong)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tong_tien)
				</td>


			</tr>
		}

	</table>
	<div>

		@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
	</div>

}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
