﻿@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebShop.Models.donhang>
@using WebShop.Models;


@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
<h2 style="
    font-weight: initial;
">Quản lý đơn hàng</h2>


<br />
using (Html.BeginForm("Index", "QuanLyDonHang", FormMethod.Get))
{
	@Html.TextBox("searchString")<input type="submit" value="Search" />
}
<br />
	<table class="table table-striped">
		<tr>
			<th>
				Tên khách hàng
			</th>
			<th>
				Địa chỉ
			</th>
			<th>
				SĐT
			</th>
			<th>
				Tổng tiền
			</th>
			<th>
				Ngày tạo hđ
			</th>
			<th>
				Tình trạng
			</th>
			<th>
				Thanh toán
			</th>
			<th>
				
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.user.ten_khach_hang, new { @style = "width: 160px;" })
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.user.dia_chi1)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.user.sdt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tong_tien)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ngay_tao_hd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.giaohang.status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.thanhtoan.status)
				</td>
				<td style="width:195px;">

					@Html.ActionLink("CTĐH", "ctdh", new { iddh = item.id_donhang }, new {@style= "color: black;padding:5px;font-weight: bold;", @class= "btn btn-default" }) 

					@Html.ActionLink("Xác nhận", "Edit", new { id = item.id_donhang }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
					@Html.ActionLink("Xóa", "Delete", new { id = item.id_donhang }, new { @style = "color: red;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				</td>
			</tr>
		}

	</table>

}
					else
					{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
					}
@*Tạo link liên kết các trang*@
@if (session != null)
{
	<h7>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</h7>
	<div class="MenuTrang">
		@Html.PagedListPager(Model, page => Url.Action("Index", "QuanLyDonHang", new { page, searchString = Request.QueryString["searchString"] }))
	</div>
	<style>
		.MenuTrang li {
			display: inline;
		}
	</style>

}
else
{
}