﻿@model WebShop.Models.user
@using WebShop.Models;
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2 style="
    font-weight: initial;
">Thông tin Admin</h2>

@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{

	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				Tên Admin
			</dt>

			<dd>
				@Html.DisplayFor(model => model.tenuser)
			</dd>

			<dt>
				Password
			</dt>

			<dd>
				************
			</dd>

			<dt>
				Tên khách hàng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ten_khach_hang)
			</dd>

			<dt>
				Số điện thoại
			</dt>

			<dd>
				@Html.DisplayFor(model => model.sdt)
			</dd>

			<dt>
				Giới tính
			</dt>

			<dd>
				@Html.DisplayFor(model => model.gioi_tinh)
			</dd>

			<dt>
				Địa chỉ
			</dt>

			<dd>
				@Html.DisplayFor(model => model.dia_chi1)
			</dd>

			<dt>
				Email
			</dt>

			<dd>
				@Html.DisplayFor(model => model.mail)
			</dd>

			

			<dt>
				Ngày sinh
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ngay_sinh)
			</dd>

			

		</dl>
	</div>
	<p>
		@Html.ActionLink("Sửa", "Edit", new { id = Model.id_user }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) 
		
	</p>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<i class="pe-7s-user"></i>
		<p style="padding-bottom: 29px;">Trở lại đăng nhập</p>
	</a>
}