﻿ @model WebShop.Models.user

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.id_user)



	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Tên khách hàng</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.ten_khach_hang, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ten_khach_hang, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Tên User</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.tenuser, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.tenuser, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Password</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @type="password" } })
			@Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Số điện thoại</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Giới tính</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.gioi_tinh, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.gioi_tinh, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Địa chỉ</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.dia_chi1, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.dia_chi1, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Email</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="form-group">
		<label class="control-label col-md-2" for="sdt">Ngày sinh</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.ngay_sinh, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ngay_sinh, "", new { @class = "text-danger" })
		</div>
	</div>



	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Lưu" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Quay trở lại", "Details", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
