﻿@model WebShop.Models.user
@using WebShop.Models;

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Xóa tài khoản</h2>

	<h3>Bạn có chăc muốn xóa tài khoản này?</h3>
	<div>
		<hr />
		<dl class="dl-horizontal">


			<dd>
				Tên người dùng
			</dd>


			<dt>
				Nhóm
			</dt>

			@if (session.nhom == "1")
			{
				<dd>
					Admin
				</dd>
			}
			else
			{
				<dd>
					Người dùng
				</dd>
			}


			<dt>
				Tên khách hàng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ten_khach_hang)
			</dd>

			<dt>
				Số điện thoại
			</dt>

			<dd>
				@Html.DisplayFor(model => model.sdt)
			</dd>

			<dt>
				Giới tính
			</dt>

			<dd>
				@Html.DisplayFor(model => model.gioi_tinh)
			</dd>

			<dt>
				Địa chỉ
			</dt>

			<dd>
				@Html.DisplayFor(model => model.dia_chi1)
			</dd>

			<dt>
				Email
			</dt>

			<dd>
				@Html.DisplayFor(model => model.mail)
			</dd>

			<dt>
				Ngày sinh
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ngay_sinh)
			</dd>

		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Xóa" class="btn btn-default" style="color:red; font-weight:bold" /> |
			@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>
		}
	</div>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}