﻿@model WebShop.Models.user
@using WebShop.Models;
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}


@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Sửa tài khoản</h2>
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">

			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.id_user)

			<div class="form-group">
				@Html.LabelFor(model => model.tenuser, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.tenuser, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.tenuser, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.pass, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.nhom, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.nhom, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.nhom, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ten_khach_hang, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ten_khach_hang, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ten_khach_hang, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.gioi_tinh, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.gioi_tinh, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.gioi_tinh, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.dia_chi1, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.dia_chi1, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.dia_chi1, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ngay_sinh, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ngay_sinh, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ngay_sinh, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Gửi" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

		<div>
			@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
