﻿@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebShop.Models.user>
@using WebShop.Models;

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2 style="
    font-weight: initial;
">Quản lý người dùng</h2>


	<br />
	using (Html.BeginForm("Index", "QuanLyUser", FormMethod.Get))
	{
		@Html.TextBox("searchString")<input type="submit" value="Search" />
	}
	<br />
	<table class="table table-striped">
		<tr>
			<th>
				Tên khách hàng
			</th>
			<th>
				Tên User
			</th>

			<th>
				Email
			</th>

			<th>
				Nhóm
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ten_khach_hang)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tenuser)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.mail)
				</td>

				@if (item.nhom == "1")
				{
					<td>Admin</td>
				}
				else
				{
					<td>Người dùng</td>
				}
				@if (int.Parse(item.nhom.ToString()) == 2)
				{

					<td style="width:143px;padding: 5px;">
						@Html.ActionLink("Chi tiết", "Details", new { id = item.id_user }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) |

						@Html.ActionLink("Xóa", "Delete", new { id = item.id_user }, new { @style = "color: red;padding:5px;font-weight: bold;", @class = "btn btn-default" })
					</td>
				}
				else
				{
					<td style="width:150px	;padding: 5px;">

						@Html.ActionLink("Chi tiết", "Details", new { id = item.id_user }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
					</td>
				}
			</tr>
		}

	</table>

}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
@*Tạo link liên kết các trang*@

@if (session != null)
{
	<h7>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</h7>
	<div class="MenuTrang">
		@Html.PagedListPager(Model, page => Url.Action("Index", "QuanLyUser", new { page, searchString = Request.QueryString["searchString"] }))
	</div>
	<style>
		.MenuTrang li {
			display: inline;
		}
	</style>

}
else
{
}