﻿@model WebShop.Models.phanloai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Tạo mới phân loại</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
			<label class="control-label col-md-2" for="ten_phanloai">Tên phân loại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten_phanloai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ten_phanloai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2" for="ten_phanloai">Cùng loại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cungphanloai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cungphanloai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

	<div>
		@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
	</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
