﻿@model WebShop.Models.phanloai

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Xóa phân loại</h2>

<h3>Bạn có chắc muốn xóa phân loại này</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			Tên phân loại
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ten_phanloai)
		</dd>

		<dt>
			Cùng loại
		</dt>

		<dd>
			@Html.DisplayFor(model => model.cungphanloai)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Xóa" class="btn btn-default" style="color:red;font-weight:bold;" /> |
			@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>
	}
</div>
