﻿@model WebShop.Models.phanloai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Chi tiết phân loại</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phân loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_phanloai)
        </dd>

        <dt>
           Cùng loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cungphanloai)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Sửa", "Edit", new { id = Model.id_phanloai }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) |
	@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
</p>
