﻿@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebShop.Models.sanpham>
@using WebShop.Models;

@{
	/**/

	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2 style="
    font-weight: initial;
">Quản lý sản phẩm</h2>
	<button style="margin-bottom:20px;">
		@Html.ActionLink("Tạo sản phẩm mới", "Create", "",new { @style = "color: #da2a2a;font-weight:bold;" })
	</button>
	<br />
	using (Html.BeginForm("Index", "QuanLyProduct", FormMethod.Get))
	{
		@Html.TextBox("searchString")<input type="submit" value="Search" />
	}
	<br />

	<table class="table table-striped">
		<tr>

			<th>
				Tên sản phẩm
			</th>
			<th>
				Giá
			</th>
			<th>
				%Sale
			</th>

			<th>
				Size
			</th>
			<th>
				Màu sắc
			</th>

			<th>
				Số lượng
			</th>

			<th>
				Loại hàng
			</th>

			<th>
				Phân loại
			</th>

			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.ten_sp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.gia)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.phantramgiamgia)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.size)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.mo_ta_mau_sac)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.soluonng)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.loaihang.ten_loaihang)
				</td>

				<td>
					@*k hien thi html*@
					@Html.Raw(item.mo_ta_kieu_dang)
				</td>
				<td style="width:195px;">
					@Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) 
					@Html.ActionLink("Chi tiết", "Details", new { id = item.id }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) 
					@Html.ActionLink("Xóa", "Delete", new { id = item.id }, new { @style = "color: red;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				</td>
			</tr>
		}

	</table>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
@*Tạo link liên kết các trang*@
@if (session != null)
{
	<h7>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</h7>
	<div class="MenuTrang">
		@Html.PagedListPager(Model, page => Url.Action("Index", "QuanLyProduct", new { page, searchString = Request.QueryString["searchString"] }))
	</div>
	<style>
		.MenuTrang li {
			display: inline;
		}
	</style>

}
else
{
}