﻿@model WebShop.Models.phanhoi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/assets/ckeditor/ckeditor.js"></script>
<h2>Gửi phản hồi cho khách hàng</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idphanhoi)

        <div class="form-group">
			<label class="control-label col-md-2" for="email">Email khách hàng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2" for="email">Trạng thái</label>
            <div class="col-md-10">
                @Html.DropDownList("idstatusgui", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idstatusgui, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2" for="email">Nội dung phản hồi của khách hàng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.noidung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noidung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2" for="email">Tiêu đề phản hồi của shop</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })
            </div>
        </div>
		<div class="form-group">
			<label class="control-label col-md-2" for="email">Nội dung phản hồi của shop</label>
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.noidungphanhoi, new { htmlAttributes = new { @class = "form-control", @id = "txtReply" }, id = "txtReply" })
				<script type="text/javascript">
                    CKEDITOR.replace("txtReply");
				</script>
			</div>
		</div>

        <div class="form-group">
			<label class="control-label col-md-2" for="email">Ngày phản hồi cho khách hàng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaygui, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaygui, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

	<div>
		@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
	</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
