﻿@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebShop.Models.phanhoi>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Phản hồi của khách hàng</h2>
@using (Html.BeginForm("Index", "Phanhoi", FormMethod.Get))
	{
@Html.TextBox("searchString")<input type="submit" value="Search" />
	}
<table class="table">
	<tr>
		<th>
			Email khách hàng
		</th>
		<th>
			Nội dung của khách hàng
		</th>
		<th>
			Nội dung phản hồi
		</th>
		<th>
			Tiêu đề
		</th>
		<th>
			Ngày gửi
		</th>
		<th>
			Trạng thái
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.noidung)
			</td>
			<td>
				@Html.Raw(item.noidungphanhoi)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.tieude)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ngaygui)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.statusphanhoi.status)
			</td>
			<td style="width:195px;">
				@Html.ActionLink("Sửa", "Edit", new { id = item.idphanhoi }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				@Html.ActionLink("Chi tiết", "Details", new { id = item.idphanhoi }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				@Html.ActionLink("Xóa", "Delete", new { id = item.idphanhoi }, new { @style = "color: red;padding:5px;font-weight: bold;", @class = "btn btn-default" })
			</td>
		</tr>
	}

</table>
<h7>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</h7>
<div class="MenuTrang">
	@Html.PagedListPager(Model, page => Url.Action("Index", "Phanhoi", new { page, searchString = Request.QueryString["searchString"] }))
</div>
<style>
	.MenuTrang li {
		display: inline;
	}
</style>