﻿@using WebShop.Models;
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="~/Areas/Admin/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Light Bootstrap Dashboard by Creative Tim</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- Bootstrap core CSS     -->
	<link href="~/Areas/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Animation library for notifications   -->
	<link href="~/Areas/Admin/assets/css/animate.min.css" rel="stylesheet" />
	<!--  Light Bootstrap Table core CSS    -->
	<link href="~/Areas/Admin/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="~/Areas/Admin/assets/css/demo.css" rel="stylesheet" />

	<!--     Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<link href="~/Areas/Admin/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-color="purple" data-image="~/Areas/Admin/assets/img/sidebar-5.jpg">
			<!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="/" class="simple-text" style="
    font-weight: bold;
    font-size: 21px;
">
						Trang ADMIN
					</a>
				</div>
				<ul class="nav">

					<li>
						<a href="@Url.Action("Index","QuanLyUser")">
							<i class="pe-7s-user"></i>
							<p>Quản lý User</p>
						</a>
					</li>
					<li class="active">
						<a href="@Url.Action("Index","QuanLyProduct")">
							<i class="pe-7s-note2"></i>
							<p>Quản lý sản phẩm</p>
						</a>
					</li>
					<li class="active">
						<a href="@Url.Action("Index","QuanLyDonHang")">
							<i class="pe-7s-news-paper"></i>
							<p>Quản lý đơn hàng</p>
						</a>
					</li>
					<li>
						<a href="@Url.Action("Index","Phanhoi")">
							<i class="pe-7s-bell"></i>
							<p>Quản lý phản hồi</p>
						</a>
					</li>

					<li>
						<a href="@Url.Action("Index","QuanLyPhanLoai")">
							<i class="pe-7s-album"></i>
							<p>Quản lý phân loại</p>
						</a>
					</li>
					<li>
						<a href="@Url.Action("Details","Profile")">
							<i class="pe-7s-science"></i>
							<p>Profile Admin</p>
						</a>
					</li>
					<li class="active-pro">
						<a href="upgrade.html">
							<i class="pe-7s-rocket"></i>
							<p>Upgrade to PRO</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed" style="
    background: #9873da;
">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"></a>
					</div>
					<div class="collapse navbar-collapse">
						@{
							var session = (user)Session["Taikhoan"];
						}
						@if (session != null)
						{
							
							<ul class="nav navbar-nav navbar-right">
								<li><a href="~/Home/Index" style="
    color: white;
    font-weight: bold;
    font-size: 18px;
">Xìn chào: @session.ten_khach_hang</a> </li>
								<li class="separator hidden-lg hidden-md"></li>
								<li>@Html.ActionLink("Đăng xuất", "Logout", "Login",new { @style = "font - weight: bold;color: white;"})</li>
								<li class="separator hidden-lg hidden-md"></li>
							</ul>
						}
						else
						{
							<ul class="nav navbar-nav navbar-right">
								
							</ul>
						}

					</div>
				</div>
			</nav>

			<!-- Content-->
			<div class="content">
				@RenderBody()

				<!-- Content-->
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="#">
									Home
								</a>
							</li>
							<li>
								<a href="#">
									Company
								</a>
							</li>
							<li>
								<a href="#">
									Portfolio
								</a>
							</li>
							<li>
								<a href="#">
									Blog
								</a>
							</li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy;
						<script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
					</p>
				</div>
			</footer>

		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)




	<!--   Core JS Files   -->
	<script src="~/Areas/Admin/assets/ckfinder/ckfinder.js"></script>
	<script src="~/Areas/Admin/assets/ckeditor/ckeditor.js"></script>
	<script src="~/Areas/Admin/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="~/Areas/Admin/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!--  Charts Plugin -->
	<script src="~/Areas/Admin/assets/js/chartist.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="~/Areas/Admin/assets/js/bootstrap-notify.js"></script>
	<!--  Google Maps Plugin    -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="~/Areas/Admin/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="~/Areas/Admin/assets/js/demo.js"></script>

	@RenderSection("jsFooter", required: false)
</body>
</html>